/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body { -webkit-text-size-adjust: 100%; -webkit-font-feature-settings: "kern" 1; -moz-font-feature-settings: "kern" 1; -o-font-feature-settings: "kern" 1; font-feature-settings: "kern" 1; font-kerning: normal; display: flex; min-height: 100vh; flex-direction: column; }

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 15px; }

/** `main` element */
main { display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/** Images */
img { max-width: 100%; vertical-align: middle; }

/** Figures */
figure > img { display: block; }

figcaption { font-size: 14px; }

/** Lists */
ul, ol { margin-left: 30px; }

li > ul, li > ol { margin-bottom: 0; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-weight: 400; }

/** Blockquotes */
blockquote { color: #828282; border-left: 4px solid #e8e8e8; padding-left: 15px; font-size: 18px; letter-spacing: -1px; font-style: italic; }

blockquote > :last-child { margin-bottom: 0; }

/** Code formatting */
pre, code { font-size: 15px; border: 1px solid #e8e8e8; border-radius: 3px; background-color: #eef; }

code { padding: 1px 5px; }

pre { padding: 8px 12px; overflow-x: auto; }

pre > code { border: 0; padding-right: 0; padding-left: 0; }

/** Wrapper */
.wrapper { max-width: -webkit-calc(800px - (30px * 2)); max-width: calc(800px - (30px * 2)); margin-right: auto; margin-left: auto; padding-right: 30px; padding-left: 30px; }

@media screen and (max-width: 800px) { .wrapper { max-width: -webkit-calc(800px - (30px)); max-width: calc(800px - (30px)); padding-right: 15px; padding-left: 15px; } }

/** Clearfix */
.footer-col-wrapper:after, .wrapper:after { content: ""; display: table; clear: both; }

/** Icons */
.svg-icon { width: 16px; height: 16px; display: inline-block; fill: #828282; padding-right: 5px; vertical-align: text-top; }

.social-media-list li + li { padding-top: 5px; }

/** Tables */
table { margin-bottom: 30px; width: 100%; text-align: left; color: #3f3f3f; border-collapse: collapse; border: 1px solid #e8e8e8; }

table tr:nth-child(even) { background-color: #f7f7f7; }

table th, table td { padding: 10px 15px; }

table th { background-color: #f0f0f0; border: 1px solid #dedede; border-bottom-color: #c9c9c9; }

table td { border: 1px solid #e8e8e8; }

/** Site header */
.site-header { border-top: 5px solid #424242; border-bottom: 1px solid #e8e8e8; min-height: 55.95px; position: relative; }

.site-title { font-size: 26px; font-weight: 300; line-height: 54px; letter-spacing: -1px; margin-bottom: 0; float: left; }

.site-title, .site-title:visited { color: #424242; }

.site-nav { float: right; line-height: 54px; }

.site-nav .nav-trigger { display: none; }

.site-nav .menu-icon { display: none; }

.site-nav .page-link { color: #111; line-height: 1.5; }

.site-nav .page-link:not(:last-child) { margin-right: 20px; }

@media screen and (max-width: 600px) { .site-nav { position: absolute; top: 9px; right: 15px; background-color: #fdfdfd; border: 1px solid #e8e8e8; border-radius: 5px; text-align: right; } .site-nav label[for="nav-trigger"] { display: block; float: right; width: 36px; height: 36px; z-index: 2; cursor: pointer; } .site-nav .menu-icon { display: block; float: right; width: 36px; height: 26px; line-height: 0; padding-top: 10px; text-align: center; } .site-nav .menu-icon > svg { fill: #424242; } .site-nav input ~ .trigger { clear: both; display: none; } .site-nav input:checked ~ .trigger { display: block; padding-bottom: 5px; } .site-nav .page-link { display: block; padding: 5px 10px; margin-left: 20px; } .site-nav .page-link:not(:last-child) { margin-right: 0; } }

/** Site footer */
.site-footer { border-top: 1px solid #e8e8e8; padding: 30px 0; }

.footer-heading { font-size: 18px; margin-bottom: 15px; }

.contact-list, .social-media-list { list-style: none; margin-left: 0; }

.footer-col-wrapper { font-size: 15px; color: #828282; margin-left: -15px; }

.footer-col { float: left; margin-bottom: 15px; padding-left: 15px; }

.footer-col-1 { width: -webkit-calc(35% - (30px / 2)); width: calc(35% - (30px / 2)); }

.footer-col-2 { width: -webkit-calc(20% - (30px / 2)); width: calc(20% - (30px / 2)); }

.footer-col-3 { width: -webkit-calc(45% - (30px / 2)); width: calc(45% - (30px / 2)); }

@media screen and (max-width: 800px) { .footer-col-1, .footer-col-2 { width: -webkit-calc(50% - (30px / 2)); width: calc(50% - (30px / 2)); } .footer-col-3 { width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }

@media screen and (max-width: 600px) { .footer-col { float: none; width: -webkit-calc(100% - (30px / 2)); width: calc(100% - (30px / 2)); } }

/** Page content */
.page-content { padding: 30px 0; flex: 1; }

.page-heading { font-size: 32px; }

.post-list-heading { font-size: 28px; }

.post-list { margin-left: 0; list-style: none; }

.post-list > li { margin-bottom: 30px; }

.post-meta { font-size: 14px; color: #828282; }

.post-link { display: block; font-size: 24px; }

/** Posts */
.post-header { margin-bottom: 30px; }

.post-title { font-size: 42px; letter-spacing: -1px; line-height: 1; }

@media screen and (max-width: 800px) { .post-title { font-size: 36px; } }

.post-content { margin-bottom: 30px; }

.post-content h2 { font-size: 32px; }

@media screen and (max-width: 800px) { .post-content h2 { font-size: 28px; } }

.post-content h3 { font-size: 26px; }

@media screen and (max-width: 800px) { .post-content h3 { font-size: 22px; } }

.post-content h4 { font-size: 20px; }

@media screen and (max-width: 800px) { .post-content h4 { font-size: 18px; } }

/** Syntax highlighting styles */
.highlight { background: #fff; }

.highlighter-rouge .highlight { background: #eef; }

.highlight .c { color: #998; font-style: italic; }

.highlight .err { color: #a61717; background-color: #e3d2d2; }

.highlight .k { font-weight: bold; }

.highlight .o { font-weight: bold; }

.highlight .cm { color: #998; font-style: italic; }

.highlight .cp { color: #999; font-weight: bold; }

.highlight .c1 { color: #998; font-style: italic; }

.highlight .cs { color: #999; font-weight: bold; font-style: italic; }

.highlight .gd { color: #000; background-color: #fdd; }

.highlight .gd .x { color: #000; background-color: #faa; }

.highlight .ge { font-style: italic; }

.highlight .gr { color: #a00; }

.highlight .gh { color: #999; }

.highlight .gi { color: #000; background-color: #dfd; }

.highlight .gi .x { color: #000; background-color: #afa; }

.highlight .go { color: #888; }

.highlight .gp { color: #555; }

.highlight .gs { font-weight: bold; }

.highlight .gu { color: #aaa; }

.highlight .gt { color: #a00; }

.highlight .kc { font-weight: bold; }

.highlight .kd { font-weight: bold; }

.highlight .kp { font-weight: bold; }

.highlight .kr { font-weight: bold; }

.highlight .kt { color: #458; font-weight: bold; }

.highlight .m { color: #099; }

.highlight .s { color: #d14; }

.highlight .na { color: #008080; }

.highlight .nb { color: #0086B3; }

.highlight .nc { color: #458; font-weight: bold; }

.highlight .no { color: #008080; }

.highlight .ni { color: #800080; }

.highlight .ne { color: #900; font-weight: bold; }

.highlight .nf { color: #900; font-weight: bold; }

.highlight .nn { color: #555; }

.highlight .nt { color: #000080; }

.highlight .nv { color: #008080; }

.highlight .ow { font-weight: bold; }

.highlight .w { color: #bbb; }

.highlight .mf { color: #099; }

.highlight .mh { color: #099; }

.highlight .mi { color: #099; }

.highlight .mo { color: #099; }

.highlight .sb { color: #d14; }

.highlight .sc { color: #d14; }

.highlight .sd { color: #d14; }

.highlight .s2 { color: #d14; }

.highlight .se { color: #d14; }

.highlight .sh { color: #d14; }

.highlight .si { color: #d14; }

.highlight .sx { color: #d14; }

.highlight .sr { color: #009926; }

.highlight .s1 { color: #d14; }

.highlight .ss { color: #990073; }

.highlight .bp { color: #999; }

.highlight .vc { color: #008080; }

.highlight .vg { color: #008080; }

.highlight .vi { color: #008080; }

.highlight .il { color: #099; }

:root { --gap: 4rem; --gap-xsm: calc(var(--gap)/4); --gap-sm: calc(var(--gap)/2); --gap-lg: calc(var(--gap)*2); }

@font-face { font-family: 'Bluu'; src: url("../fonts/bluunext-bold-webfont.woff2") format("woff2"), url("../fonts/bluunext-bold-webfont.woff") format("woff"), url("../fonts/bluunext-bold.ttf") format("truetype"), url("../fonts/bluunext-bold-webfont.svg#bluu_nextbold") format("svg"); font-weight: normal; font-style: normal; }

html { scroll-behavior: smooth; scroll-padding-top: var(--gap); }

body { font-family: 'Syne', sans-serif; color: #181818; background-color: #FDFAF2; -webkit-font-smoothing: antialiased; overflow-x: hidden; }

p { font-size: 1.1rem; }

h3 { font-weight: 600; line-height: 1.75; }

.muted { color: #969696; }

.grid { display: grid; }

.grid-main { grid-template-columns: repeat(4, 1fr); grid-template-rows: var(--gap) 1fr; padding: 0 calc(var(--gap)/2); }

@media (min-width: 768px) { .grid-main { grid-template-columns: var(--gap) repeat(8, 1fr) var(--gap); grid-template-rows: var(--gap) 1fr; grid-column-gap: var(--gap); grid-row-gap: var(--gap); max-width: calc(22*var(--gap)); margin: 0 auto; } }

@media (min-width: 768px) { .grid-cases { grid-template-columns: var(--gap) repeat(8, 1fr) var(--gap); grid-template-rows: 1fr var(--gap); grid-column-gap: var(--gap); grid-row-gap: var(--gap); max-width: calc(22*var(--gap)); margin: 0 auto; } }

.logo { grid-column: 1 / 5; grid-row: 1 / 3; }

@media (min-width: 768px) { .logo { grid-column: 2 / 5; } }

.nav-main { grid-column: 3 / -1; grid-row: 1 / 2; display: grid; align-items: center; }

@media (min-width: 768px) { .nav-main { justify-content: end; grid-column: 6 / -1; } }

.nav-main ul { list-style-type: none; margin: 0; padding: 0; }

@media (max-width: 768px) { .nav-main ul { display: flex; justify-content: space-between; align-items: center; padding-top: 1rem; } }

@media (max-width: 768px) { .nav-main .btn { margin-top: 0; } }

li { display: inline; }

.nav-main a { text-transform: uppercase; font-weight: 600; color: #181818; text-decoration: none; font-size: .8rem; }

@media (min-width: 768px) { .nav-main a { font-size: .9rem; margin-left: 1rem; } }

h1 { font-size: 2rem; margin: 0; font-weight: 600; }

@media (min-width: 768px) { h1 { font-size: 2.5rem; } }

.tagline { font-size: 1.75rem; color: #969696; }

@media (min-width: 768px) { .tagline { font-size: 2rem; } }

.wrapper-home .tagline { margin-bottom: 2rem; }

.intro { grid-column: 1 / 6; }

@media (min-width: 768px) { .intro { grid-column: 6 / 9; grid-row: 2 / 3; } }

h2 { font-weight: 400; color: #5A373B; text-transform: uppercase; }

p { line-height: 1.75; }

strong { font-weight: 600; }

img { max-width: 100%; }

.mt-0 { margin-top: 0; }

.mb-0 { margin-bottom: 0; }

.mb-2 { margin-bottom: 2rem !important; }

.mb-4 { margin-bottom: 4rem !important; }

.mb-6 { margin-bottom: 6rem !important; }

.mt-2 { margin-top: 2rem; }

.mt-6 { margin-top: 6rem; }

.job-entry { margin-top: 3rem; }

.job-company { font-weight: 600; }

.job-timespan { color: #707070; }

@media (max-width: 768px) { .cases { margin: 0 auto; width: calc(100vw - (var(--gap))); } }

@media (min-width: 768px) { .cases { display: grid; grid-column: 1 / -1; grid-row: 1 / 2; margin-top: -16rem; } }

.case { margin-bottom: var(--gap); }

@media (min-width: 768px) { .case { display: grid; grid-template-columns: var(--gap) repeat(8, 1fr) var(--gap); grid-column-gap: var(--gap); height: fit-content; align-items: end; margin-bottom: calc(2*var(--gap)); } .case:last-child { margin-bottom: 0; } }

.case-cover { grid-column: 2 / 6; border-radius: 1rem; position: relative; }

.case-description { grid-column: 6 / 9; }

.case-logo { position: absolute; height: 73px; left: 2rem; top: 2rem; }

.boom-headshot { margin-bottom: calc(var(--gap)/2); }

.boom-headshot img { max-width: 100px; border-radius: 0 0 100px 100px; box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; }

@media (min-width: 768px) { .boom-headshot img { max-width: 200px; } }

.desc { display: grid; grid-template-columns: 100px auto; align-items: baseline; border-bottom: 1px solid #D9D9D9; }

.no-border { border: 0; }

.desc-title { color: #969696; font-weight: 600; text-transform: uppercase; }

.btn { background-color: #5A373B; color: #fff; text-decoration: none; padding: .5rem 1rem; padding-right: 3rem; border-radius: 2rem; text-transform: uppercase; font-weight: 600; display: inline-block; margin-top: 1rem; position: relative; transition: padding-right .2s ease-out, background-color .2s ease-out; }

.btn:hover { padding-right: 3.25rem; background-color: #181818; }

.btn:after { content: ''; position: absolute; height: 100%; width: 20px; right: 1rem; top: 0; background: url("../img/arrow.svg") center center no-repeat; }

a.btn-linkedin { background-color: #0a66c2; color: #fff; }

a.btn-linkedin:after { background: url("../img/linkedin-logo.svg") center center no-repeat; }

a.btn-linkedin:hover { padding-right: 3rem; background-color: #0b5e86; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #D9D9D9; padding: 0; margin: calc(var(--gap)/2) 0; }

.cover-shadow { position: absolute; top: 0; left: 0; width: 100%; height: 100%; filter: blur(15px); }

.cover-sharp { position: relative; }

.soon { position: absolute; right: 2rem; bottom: 2rem; font-size: 2rem; font-weight: 600; color: #fff; }

.header { grid-column: 1 / -1; justify-content: space-between; }

.logo-small h1 { font-size: 1.15rem; }

.logo-small .tagline { font-size: 1rem; }

.desc-long { grid-column: 1 / 5; }

.desc-more { grid-column: 6 / 10; }

.desc-more-2 { grid-column: 5 / 11; }

.desc-more-2 img { margin-bottom: calc(-2*var(--gap)); }

.case-screen-1 { grid-column: 6 / 9; }

.grid-ds { grid-template-columns: repeat(12, 1fr); grid-template-rows: repeat(3, auto); grid-column-gap: 16px; grid-row-gap: var(--gap); width: calc(100vw - (var(--gap))); max-width: calc(22*var(--gap)); margin: 0 auto; }

.ds-bg { background-color: rgba(0, 0, 0, 0.05); grid-column: 1 / -1; grid-row: 2 / -1; margin: 8rem -999rem 0 -999rem; }

.ds-gradient { background: linear-gradient(to top, #FDFAF2 24rem, transparent); grid-column: 1 / -1; grid-row: 2 / -1; margin: 0 -1rem; }

.ds-1 { grid-column: 1 / -1; grid-row: 1 / 2; }

.ds-title { grid-column: 6 / 8; grid-row: 1 / 2; padding-top: 5rem; }

.ds-screenshot { grid-row: 2 / 3; box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; border-radius: 8px; }

.ds-screenshot:nth-child(even) { margin-top: 2rem; }

.ds-screenshot-1 { grid-column: 1 / 3; }

.ds-screenshot-2 { grid-column: 3 / 5; }

.ds-screenshot-3 { grid-column: 5 / 7; }

.ds-screenshot-4 { grid-column: 7 / 9; }

.ds-screenshot-5 { grid-column: 9 / 11; }

.ds-screenshot-6 { grid-column: 11 / -1; }

.ds-devices { grid-row: 3 / -1; grid-column: 2 / 11; margin-top: -12rem; margin-left: 1rem; }

.ds-subtitle { color: #E27865; font-size: 1.5rem; padding-top: 1rem; display: block; font-weight: 600; }

.hot-probeersel { grid-column: 1 / -1; }

.hot-probeersel-2 { grid-column: 1 / -1; grid-row: 2 / -1; }

.hot-jobs { grid-column: 1 / -1; }

.wrapper2 { width: 100vw; background-color: #fbf5e5; padding-bottom: var(--gap); margin-bottom: calc(var(--gap)*3); border-bottom: 1px solid #f0dfa8; }

.wrapper-home { width: 100vw; background-color: #fbf5e5; padding-bottom: var(--gap); margin-bottom: var(--gap); border-bottom: 1px solid #f0dfa8; }

@media (min-width: 768px) { .wrapper-home { padding-bottom: calc(var(--gap)*3); margin-bottom: calc(var(--gap)*3); } }

.wrapper-footer { width: 100vw; background-color: #fbf5e5; padding-bottom: var(--gap); border-top: 1px solid #f0dfa8; }

@media (min-width: 768px) { .wrapper-footer { margin-top: var(--gap); } }

.wrapper-footer .cases { margin-top: -4rem; }

.wrapper-footer .case { margin-bottom: 0; }

.shadow-lg { box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; }

.br-lg { border-radius: 8px; }

.page-title { margin-bottom: 1.5rem; }

.hot-extra-text { margin: 0 auto; max-width: 30rem; margin-bottom: calc(var(--gap)*2); }

.hot-extra-text2 { grid-column: 5 / 9; }

.hot-probeersel-wrapper { grid-column: 1 / -1; }

h1, h2 { font-family: 'Bluu'; }

.grid-hot { grid-template-columns: repeat(16, 1fr); grid-template-rows: repeat(11, 1fr); max-width: calc(22*var(--gap)); margin: 0 auto; width: calc(100vw - (var(--gap))); }

.grid-hot > * { box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; border-radius: 8px; }

.grid-hot > *:nth-child(1) { grid-column: 1 / -1; grid-row: 1 / 4; }

.grid-hot > *:nth-child(2) { grid-column: 10 / 15; grid-row: 3 / 6; align-self: end; }

.grid-hot > *:nth-child(3) { display: none; }

.grid-hot > *:nth-child(4) { display: none; }

.grid-hot > *:nth-child(5) { grid-column: 2 / 8; grid-row: 3 / 10; }

.grid-hot > *:nth-child(6) { grid-column: 3 / 17; grid-row: 6 / 11; }

.grid-hot > *:nth-child(7) { grid-column: 2 / 7; grid-row: 10 / -1; }

.grid-hot > *:nth-child(8) { grid-column: 5 / 16; grid-row: 8 / -1; }

.grid-hot > *:nth-child(9) { display: none; }

.grid-hot > *:nth-child(10) { grid-column: 1 / 13; grid-row: 10 / -1; }

.grid-hot > *:nth-child(11) { display: none; }

@media (min-width: 768px) { .grid-hot { grid-template-columns: repeat(12, 1fr); grid-template-rows: repeat(5, auto); grid-column-gap: calc(var(--gap)/1.5); grid-row-gap: calc(var(--gap)/1.5); } .grid-hot > * { box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; border-radius: 8px; } .grid-hot > *:nth-child(1) { grid-column: 1 / 9; grid-row: 1 / 2; } .grid-hot > *:nth-child(2) { grid-column: 9 / 11; grid-row: 1 / 2; align-self: end; } .grid-hot > *:nth-child(3) { grid-column: 11 / -1; grid-row: 1 / 2; display: block; } .grid-hot > *:nth-child(4) { grid-column: 2 / 4; grid-row: 2 / 3; align-self: end; display: block; } .grid-hot > *:nth-child(5) { grid-column: 4 / 6; grid-row: 2 / 3; } .grid-hot > *:nth-child(6) { grid-column: 6 / 12; grid-row: 2 / 3; } .grid-hot > *:nth-child(7) { grid-column: 2 / 4; grid-row: 3 / 4; } .grid-hot > *:nth-child(8) { grid-column: 4 / 10; grid-row: 3 / 4; } .grid-hot > *:nth-child(9) { grid-column: 10 / -1; grid-row: 3 / 4; align-self: end; display: block; } .grid-hot > *:nth-child(10) { grid-column: 3 / 8; grid-row: 4 / 5; } .grid-hot > *:nth-child(11) { grid-column: 8 / 12; grid-row: 4 / 5; display: block; } }

.mt-gap-2 { margin-top: calc(var(--gap)*2); }

.mt-gap-3 { margin-top: calc(var(--gap)*3); }

.grid-helan { grid-template-columns: repeat(6, 1fr); grid-template-rows: repeat(12, auto); grid-column-gap: calc(var(--gap)/1.5); grid-row-gap: calc(var(--gap)/1.5); max-width: calc(22*var(--gap)); margin: 0 auto; }

.grid-helan > * { box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; border-radius: 8px; }

.grid-helan > *:nth-child(1) { grid-column: 1 / 5; grid-row: 2 / 3; }

.grid-helan > *:nth-child(2) { grid-column: 2 / 6; grid-row: 3 / 4; border: 8px solid white; }

.grid-helan > *:nth-child(3) { grid-column: 1 / 5; grid-row: 4 / 6; border: 8px solid white; }

.grid-helan > *:nth-child(4) { grid-column: 2 / 6; grid-row: 5 / 7; align-self: end; border-radius: 32px; }

.grid-helan > *:nth-child(5) { grid-column: 2 / 6; grid-row: 8 / 11; border: 8px solid white; z-index: -1; margin-top: -2rem; }

.grid-helan > *:nth-child(6) { grid-column: 2 / 7; grid-row: 5 / 8; }

.grid-helan > *:nth-child(7) { grid-column: 2 / 6; grid-row: 1 / 2; box-shadow: none; }

@media (min-width: 768px) { .grid-helan { width: calc(100vw - (var(--gap))); grid-template-columns: repeat(12, 1fr); grid-template-rows: repeat(6, 1fr); } .grid-helan > *:nth-child(1) { grid-column: 1 / 5; grid-row: 1 / 3; } .grid-helan > *:nth-child(2) { grid-column: 9 / 13; grid-row: 1 / 3; align-self: end; margin-bottom: 2rem; border: 8px solid white; } .grid-helan > *:nth-child(3) { grid-column: 4 / 10; grid-row: 3 / 5; margin-top: -6rem; border: 8px solid white; } .grid-helan > *:nth-child(4) { grid-column: 2 / 5; grid-row: 3 / 4; align-self: end; border-radius: 32px; } .grid-helan > *:nth-child(5) { grid-column: 9 / 13; grid-row: 4 / 8; border: 8px solid white; z-index: -1; margin-top: -5rem; } .grid-helan > *:nth-child(6) { grid-column: 1 / 6; grid-row: 4 / 8; } .grid-helan > *:nth-child(7) { grid-column: 6 / 8; grid-row: 1 / 3; box-shadow: none; margin-top: 5rem; } }

.quote { text-transform: none; font-size: 2rem; }

.grid-tb { grid-template-columns: repeat(12, 1fr); grid-template-rows: repeat(5, auto); grid-column-gap: calc(var(--gap)/1.5); grid-row-gap: calc(var(--gap)/1.5); max-width: calc(22*var(--gap)); margin: 0 auto; }

.grid-tb > * { box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; border-radius: 8px; }

.grid-tb > *:nth-child(1) { grid-column: 1 / -1; grid-row: 4 / 5; box-shadow: none; }

.grid-tb > *:nth-child(2) { grid-column: 2 / 8; grid-row: 1 / 5; }

.grid-tb > *:nth-child(3) { grid-column: 9 / 12; grid-row: 4 / 6; margin-top: calc(var(--gap)*1.5); }

.grid-tb > *:nth-child(4) { grid-column: 2 / 7; grid-row: 4 / 5; align-self: end; }

.grid-tb > *:nth-child(5) { grid-column: 4 / 6; grid-row: 2 / 3; }

.grid-tb > *:nth-child(6) { grid-column: 6 / 12; grid-row: 2 / 3; }

.grid-tb > *:nth-child(7) { grid-column: 2 / 4; grid-row: 3 / 4; }

.grid-tb > *:nth-child(8) { grid-column: 4 / 10; grid-row: 3 / 4; }

.grid-tb > *:nth-child(9) { grid-column: 10 / -1; grid-row: 3 / 4; align-self: end; }

.grid-tb > *:nth-child(10) { grid-column: 3 / 8; grid-row: 4 / 5; }

.grid-tb > *:nth-child(11) { grid-column: 8 / 12; grid-row: 4 / 5; }

.container-tb { display: grid; grid-template-columns: repeat(16, 1fr); grid-template-rows: repeat(11, 1fr); margin: 0 auto; grid-auto-flow: row; width: calc(100vw - (var(--gap))); }

@media (min-width: 768px) { .container-tb { grid-template-rows: repeat(16, 1fr); height: calc(100vw - (var(--gap))); max-width: calc(22 * var(--gap)); max-height: calc(22 * var(--gap)); } }

.container-tb img { box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; border-radius: 8px; }

.container-tb-2 { display: grid; grid-template-columns: repeat(16, 1fr); grid-template-rows: repeat(11, 1fr); width: calc(100vw - (var(--gap))); max-width: calc(22 * var(--gap)); margin: 0 auto; }

@media (max-width: 768px) { .container-tb-2 { margin-bottom: 10rem !important; } }

.container-tb-2 img { box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; border-radius: 8px; }

.filler { grid-area: 4 / 1 / 12 / 17; }

@media (min-width: 768px) { .filler { grid-area: 6 / 1 / 12 / 17; } }

.filler img { box-shadow: none; }

.img-one { grid-area: 1 / 2 / 10 / 14; }

@media (min-width: 768px) { .img-one { grid-area: 1 / 2 / 10 / 10; } }

.img-two { grid-area: 6 / 11 / 11 / 16; }

@media (min-width: 768px) { .img-two { grid-area: 3 / 12 / 11 / 16; } }

.img-three { grid-area: 6 / 1 / 17 / 10; }

@media (max-width: 768px) { .img-three { margin-top: -2rem; margin-left: -1rem; } }

@media (min-width: 768px) { .img-three { grid-area: 10 / 4 / 17 / 11; } }

.img-six { grid-area: 1 / 1 / 6 / 12; }

@media (min-width: 768px) { .img-six { grid-area: 1 / 1 / 17 / 8; } }

.img-seven { grid-area: 6 / 2 / 17 / 17; }

@media (min-width: 768px) { .img-seven { grid-area: 1 / 10 / 17 / 17; } }

.img-eight { grid-area: 4 / 9 / 14 / 16; }

@media (min-width: 768px) { .img-eight { grid-area: 3 / 7 / 17 / 11; } }

.logo-small a { color: #181818; text-decoration: none; }

@media (min-width: 768px) { .header-small { display: flex; align-items: end; } }

.header-small .logo-small { justify-content: center; display: flex; flex-direction: column; }

@media (max-width: 768px) { .header-small .logo-small { align-items: center; padding-top: var(--gap-xsm); } }

.wrapper-cv { display: grid; grid-template-columns: repeat(8, 1fr); grid-template-rows: repeat(8, auto); margin: var(--gap) auto; width: calc(100vw - (var(--gap))); max-width: calc(16*var(--gap)); background-color: #fff; box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; border-radius: 8px; grid-column-gap: calc(var(--gap)/1.5); grid-row-gap: calc(var(--gap)/1.5); }

.wrapper-cv .boom-headshot { grid-area: 1 / 1 / 1 / 3; margin-bottom: 0; text-align: right; }

.wrapper-cv .boom-headshot img { box-shadow: none; max-width: 125px; }

.wrapper-cv .name { grid-area: 1 / 3 / 1 / 7; align-self: end; }

.wrapper-cv .data { grid-area: 2 / 3 / 2 / 8; display: grid; grid-template-columns: 1fr 1fr; }

.wrapper-cv .experience-title { grid-area: 4 / 1 / 4 / 3; text-align: right; }

.wrapper-cv .experience { grid-area: 4 / 3 / 4 / 8; }

.wrapper-cv .projects-title { grid-area: 6 / 1 / 6 / 3; text-align: right; }

.wrapper-cv .projects { grid-area: 6 / 3 / 6 / 8; }

.wrapper-cv p, .wrapper-cv h3, .wrapper-cv dt, .wrapper-cv dd { line-height: 1.5; }

.wrapper-cv .divider-one { grid-area: 3 / 1 / 3 / 9; }

.wrapper-cv .divider-two { grid-area: 5 / 1 / 5 / 9; }

.wrapper-cv dt { text-transform: uppercase; color: #969696; font-size: 14px; }

.wrapper-cv a { color: #5A373B; }

.row { margin: 0 auto; max-width: 30rem; padding: 0 calc(var(--gap)/2); }

.mb-sm-1 { margin-bottom: var(--gap); }

@media (min-width: 768px) { .mb-md-2 { margin-bottom: calc(var(--gap)*2); } }

.wrapper-header-case { background-color: #fbf5e5; padding: 0 calc(var(--gap)/2); margin-bottom: var(--gap-lg); border-bottom: 1px solid #f0dfa8; }

@media (min-width: 768px) { .wrapper-header-case { margin-bottom: calc(var(--gap)*3); padding-bottom: var(--gap); } }

.grid-header-case { grid-template-columns: 1fr; grid-template-rows: var(--gap) 1fr auto; grid-column-gap: var(--gap); grid-row-gap: var(--gap); max-width: calc(22*var(--gap)); margin: 0 auto; }

@media (min-width: 768px) { .grid-header-case { grid-template-columns: var(--gap) repeat(8, 1fr) var(--gap); grid-template-rows: var(--gap) 1fr; } }

@media (min-width: 768px) { .case-intro { grid-column: 1 / 5; } }

.case-snapshot { grid-column: 1 / -1; grid-row: 3 / 3; }

@media (min-width: 768px) { .case-snapshot { grid-column: 5 / 11; grid-row: 2 / 2; margin-bottom: calc(-2*var(--gap)); } }

@media (max-width: 768px) { .case-snapshot { margin: calc(var(--gap)/(-2)); } }

.lead { font-size: 1.4rem; line-height: 1.5; }

@media (min-width: 768px) { .lead { font-size: 1.5rem; line-height: 1.6; } }

.site-footer { border-top: 1px solid #f0dfa8; }

.site-footer .container { width: calc(100vw - (var(--gap))); margin: 0 auto; }

@media (max-width: 768px) { .site-footer .container { max-width: calc(22*var(--gap)); } }

.site-footer ul { display: flex; justify-content: space-between; align-items: center; margin: 0; }

.site-footer .btn { margin-top: 0; }

@media (max-width: 768px) { .mobile-hidden { display: none; } }

/*# sourceMappingURL=main.css.map */