* {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-weight: 700;
}

.container-sm {
  width: 800px;
}

label {
  margin-bottom: .5rem;
}

.info {
  display: block;
  font-size: .66rem;
  text-transform: uppercase;
  font-weight: 400;
}

.check-group label {
  display: block;
  border-bottom: 1px solid rgba(0,0,0,.125);
  padding: .5rem 0 1rem;
}
